{% extends "home/tutorials/Kubernetes/Kubernetes-base.njk" %}

{% block kubernetesbody %}

    <div class="col-md-8 col-sm-8 article">
        <div class="row">
            <h2>1. What is Kubernetes?</h2>
        </div>
    </div>

</div>
{% endblock %}