{% extends "home/base.njk" %}

{% block body %}
<div class="row main-container">
            
    <div class="row"> 
        <div class="col-md-12">
            <h1><a href="https://bgi4ai.org">BGI4AI</a></h1>
            <h4>Build Global Infrastructure for AI and Robotics</h4>
            <p>BGI4AI is a joint initiative of The Hastings Center and the Carnegie Council 
            for Ethics in International Affairs to build global infrastructure to ensure that AI and robotics are beneficial.
            Follow the link to the website to find out more information about BGI4AI.</p>
        </div>
    </div>
    <div class="row"> 
        <div class="col-md-12">
            <hr>
        </div>
    </div>
    <div class="row"> 
        <div class="col-md-12">
            <div>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/3RpTOzHpVeI" frameborder="0" allowfullscreen></iframe>
                <p>Founder Wendell Wallach introducing BGI4AI.</p>
            </div>
            
        </div>
    </div>
   

</div>

{% endblock %}