{% extends "home/base.njk" %}

{% block body %}
<div class="row main-container">
            
    <header class="row"> 
        <div class="col-md-12">
            <h1 class="main-heading">Konrad Schieban</h1>
            <h4 class="main-heading">Developer - Consultant - Electrical Engineer</h4>
        </div>
    </header>

    <div class="col-md-3 image-side">
        <div class="image-container">
            <img src="/home/images/pic.png" id="pic">
        </div>
    </div>

    <div class="col-md-9 text-side">
        <p>Hi, I'm Konrad.</p>

        <p>Software Developer with passion for Web Application Development and Cloud Computing.</p>

        <p>Currently living in Boston after having lived seven years in Zurich where I studied Electrical Engineering &amp; Information Technology at ETH Zurich and where I started my first job at HP.</p>

        <p>I love to code, I love great Software Design and I love creating great products - this is what really drives me both at work and in my free time. Of course, that is not the only thing I enjoy spending my time with. Making music is one of my passions since I was a kid and I still spend a lot of time with my electric guitar and piano.</p>
    
        <p>Have a look at my website, check out some of my tutorials or send me a mail if you like. If you find inaccuracies or incorrect statements, please let me know. I am always happy to get feedback.</p>
    </div>

</div>

<footer class="row footer">
    <div class="col-md-12 footer-left"> 
        <a href="https://www.linkedin.com/in/konrad-schieban-1730b986/">
            <i class="fa fa-linkedin-square" style="font-size:36px"></i>
        </a>
        <a href="https://twitter.com/KonradSchieban">
            <i class="fa fa-twitter-square" style="font-size:36px"></i>
        </a>
        <a href="https://github.com/KonradSchieban">
            <i class="fa fa-github-square" style="font-size:36px"></i>
        </a>
        <a href="https://plus.google.com/116898464157221797446">
            <i class="fa fa-google-plus-square" style="font-size:36px"></i>
        </a>
        <a href="mailto:konrad.schieban@gmail.com">
            <i class="fa fa-envelope" style="font-size:36px"></i>
        </a>
    </div>
</footer>
{% endblock %}